/* Clearfix */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.fl-row-fixed-width {
	min-width: 1px;
}
.fl-col-group.fl-col-group-responsive-reversed,
.fl-col-group.fl-col-group-responsive-reversed .fl-col,
.fl-col-group.fl-col-group-responsive-reversed .fl-col-content,
.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content {
	min-width: 0px;
}

.pp-testimonials .sr-only {
	position: absolute !important;
    height: 1px !important;
    width: 1px !important;
    margin: 0 !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}

.pp-testimonials .owl-carousel button.owl-dot {
	background: none !important;
	border: none !important;
}

/* Grid Layout */
.pp-testimonials-grid-0 .pp-testimonials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pp-testimonials-grid-1 .pp-testimonials {
    grid-template-columns: repeat(1,1fr);
    display: grid;
}

.pp-testimonials-grid-2 .pp-testimonials {
    grid-template-columns: repeat(2,1fr);
    display: grid;
}

.pp-testimonials-grid-3 .pp-testimonials {
    grid-template-columns: repeat(3,1fr);
    display: grid;
}

.pp-testimonials-grid-4 .pp-testimonials {
    grid-template-columns: repeat(4,1fr);
    display: grid;
}

.pp-testimonials-grid-5 .pp-testimonials {
    grid-template-columns: repeat(5,1fr);
    display: grid;
}

.pp-testimonials-grid-6 .pp-testimonials {
    grid-template-columns: repeat(6,1fr);
    display: grid;
}

.pp-masonry-grid .pp-testimonials {
	display: block !important;
}
.pp-masonry-grid .pp-testimonial {
	display: inline-block;
}

/* Default layout */
.fl-module .pp-testimonials-image img {
	border: 0 solid;
	width: 100%;
	margin: 0 auto;
	max-height: 150px;
	max-width: 150px;
}
.fl-module .carousel-enabled .pp-testimonials-image img {
	max-height: 100px;
	max-width: 100px;
}
.pp-testimonials {
	text-align: center;
}
.pp-testimonial {
	padding: 15px;
}
.pp-testimonials-no-heading .pp-testimonials-heading {
	display: none !important;
}
.pp-testimonials h3.pp-testimonials-title {
	font-weight: 400;
	margin-bottom: 15px;
	margin-top: 15px;
}
.pp-testimonials h4.pp-testimonials-subtitle {
	margin: 0;
	text-transform: none;
}
.pp-testimonials .pp-content-wrapper {
	background: transparent;
	position: relative;
}
.pp-testimonials .pp-testimonials-content p {
	margin-bottom: 15px;
}
.pp-testimonials .pp-testimonials-content p:last-of-type {
	margin-bottom: 0;
}
.pp-testimonials .pp-vertical-align {
	display: table;
}
.pp-testimonials .pp-vertical-align .pp-title-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.pp-testimonials .pp-arrow-top {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid transparent;
	height: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: -15px;
	width: 0;
}
.pp-testimonials .pp-arrow-bottom {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid transparent;
	height: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	bottom: -15px;
	width: 0;
}
.pp-testimonials .pp-arrow-left {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	left: -15px;
	position: absolute;
	top: 30px;
	width: 0;
}

/* Layouts */

/* Layout 1 */
.pp-testimonials .layout-1 {
	text-align: center;
}
.pp-testimonials .layout-1 .pp-testimonials-image img {
	margin-bottom: 20px;
}
.pp-testimonials .layout-1 .pp-testimonials-content p:last-of-type {
	margin-bottom: 15px;
}

/* Layout 2 */
.pp-testimonials .layout-2 {
	text-align: center;
}
.pp-testimonials .layout-2 .pp-testimonials-image {
	display: inline-block;
	margin-right: 25px;
}
.pp-testimonials .layout-2  .pp-vertical-align {
	margin: 0 auto;
}
.pp-testimonials .layout-2 .pp-content-wrapper {
	margin-bottom: 25px;
}

/* Layout 3 */
.pp-testimonials .layout-3 .pp-testimonials-image {
	float: left;
	margin-right: 30px;
	max-width: 150px;
	width: 22%;
}
.pp-testimonials .layout-3 .layout-3-content {
	float: left;
	text-align: left;
	width: 75%;
}
.pp-testimonials .layout-3.carousel-enabled .pp-testimonials-image {
	max-width: 100px;
}
.pp-testimonials .layout-3.carousel-enabled .pp-testimonials-image img {
	width: 100%;
}
.pp-testimonials .layout-3 .pp-testimonials-content p:last-of-type {
	margin-bottom: 15px;
}

/* Layout 4 */
.pp-testimonials .layout-4 {
	position: relative;
	padding-top: 50px;
}
.pp-testimonials .layout-4 .layout-4-content {
	background: #eee;
	padding: 50px;
	position: relative;
	z-index: 9;
}
.pp-testimonials .layout-4 .pp-testimonials-image {
	position: relative;
	z-index: 10;
	position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
}
.pp-testimonials .layout-4 .pp-testimonials-content {
	margin-top: 20px;
}
.pp-testimonials .layout-4 .pp-testimonials-content p:last-of-type {
	margin-bottom: 15px;
}
.pp-testimonials .layout-4-container .bx-wrapper {
	margin-bottom: 0;
}
.pp-testimonials .layout-4-container .bx-pager {
    bottom: 40px;
}
.pp-testimonials .layout-4-container.carousel-enabled .bx-pager {
	bottom: 30px;
}
.pp-testimonials .layout-4.no-image-inner .layout-4-content,
.pp-testimonials .layout-4.carousel-enabled.no-image-inner .layout-4-content {
	padding-top: 50px;
	top: 0;
}

/* Layout 5 */
.pp-testimonials .layout-5 {
	text-align: center;
}
.pp-testimonials .layout-5 .pp-testimonials-image {
	display: inline-block;
	margin-right: 25px;
}
.pp-testimonials .layout-5 .pp-vertical-align {
	margin: 0 auto;
	width: 100%;
}

.pp-testimonials .layout-5 .pp-testimonials-subtitle {
	margin-bottom: 20px;
}

/* Wrappers */
.pp-testimonials-wrap {
	position: relative;
}
.pp-testimonials-wrap.pp-testimonials-slider .pp-testimonial {
	position: absolute;
	top: 0;
	visibility: hidden;
}
.pp-testimonials-wrap.pp-testimonials-slider .pp-testimonial:first-child,
.pp-testimonials-slider .pp-testimonials-loaded .pp-testimonial {
	position: relative;
	visibility: visible;
}
.pp-testimonials-wrap .fa {
	opacity: 0.8;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.pp-testimonials-wrap .fa:hover {
	opacity: 1;
}
.pp-testimonials-wrap .pp-arrow-wrapper {
	margin-bottom: 10px;
	text-align: center;
}
.pp-testimonials-wrap .owl-nav {
	display: flex;
	justify-content: center;
}
.pp-testimonials-wrap .owl-nav button {
	box-shadow: none;
	border: 0;
	outline: none;
	line-height: 0;
    margin: 0;
	padding: 0;
	font-size: 20px;
	background-image: none !important;
	z-index: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.pp-testimonials-wrap .owl-nav button svg {
	height: 20px;
	box-shadow: none;
	outline: none;
	border-radius: 100%;
}
.pp-testimonials-wrap .owl-nav.position-side button {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.pp-testimonials-wrap .owl-nav.position-side button.owl-prev {
	left: -15px;
}
.pp-testimonials-wrap .owl-nav.position-side button.owl-next {
	right: -15px;
}

/* Flexbox */
.pp-testimonials-flexbox .owl-stage {
	display: flex;
}
.pp-testimonials-flexbox .owl-carousel .owl-item {
	display: flex;
    align-items: center;
    flex: 1 0 auto;
    padding: 0 20px;
}
.pp-testimonials-flexbox .pp-testimonial {
	display: flex;
	flex-direction: column;
    align-items: center;
	align-content: center;
	justify-content: center;
    width: 100%;
    height: 100%;
}
.pp-testimonials-flexbox .pp-testimonial .pp-content-wrapper {
	height: auto !important;
}

.pp-testimonials-wrap .owl-carousel.owl-loaded:focus {
	outline: none;
}